.Input-single{
    width: 100%;
    height: auto;
    outline: none;
    border: 0;
    margin: 4px;
    border-radius: 8px;
    transition: all 0.4s ease-in-out;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: var(--trans-white)
}
.Input-single * {
    transition: all 0.1s ease-in-out;
    border-radius: 8px;
}
/* 

    background-color: white;
    color: rgb(4, 1, 29);
    */
.is-label{
    text-align: center;
    padding: 8px;
    width: 30%;
}

.is-input{
    width: 69%;
    border: none;
    outline: none;
    user-select: none;
    padding: 8px;
}

.is-primary *{
    background-color: var(--color-5);
    color: var(--color-3);
}

.is-primary:hover .is-input{
    background-color: var(--color-1);
    width: 70%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.is-primary:hover .is-label{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-s *{
    font-size: 16px;
    height: 32px;
}
.input-m *{
    font-size: 20px;
    height: 40px;
}
.input-l *{
    font-size: 24px;
    height: 48px;
}
.input-xl *{
    font-size: 28px;
    height: 56px;
}
.input-xxl *{
    font-size: 32px;
    height: 64px;
}