.Text{
    width: auto;
}


.txt-primary{
    color: rgb(4, 1, 29);
}
.text-secondary{
    color: #fff;
}

.txt-s{
    font-size: 16px;
}

.txt-m{
    font-size: 20px;
}

.txt-l{
    font-size: 24px;
}

.txt-xl{
    font-size: 28px;
}
.txt-xxl{
    font-size: 32px;
}