.Button{
    width: auto;
    height: auto;
    border: 0;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    margin: 4px;
}

.btn-primary{
    background-color: var(--color-1);
    color: var(--color-2);
}

.btn-secondary{
    background-color: var(--color-5);
    color: var(--color-3);
}

.btn-large{
    font-size: 24px;
}

.btn-medium{
    font-size: 20px;
}

.btn-small{
    font-size: 16px;
}