.Button{
    width: auto;
    height: auto;
    border: 0;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.Button:hover{
    border-radius: 0;
}
.btn-primary{
    background-color: var(--color-1);
    color: var(--color-2);
    border: 1px solid var(--color-1);
}
.btn-primary:hover{
    background-color: var(--color-2);
    color: var(--color-1);
}

.btn-secondary{
    background-color: var(--color-5);
    color: var(--color-3);
    border: 1px solid var(--color-5);
}
.btn-secondary:hover{
    background-color: var(--color-3);
    color: var(--color-5);
}

.btn-large{
    font-size: 24px;
}

.btn-medium{
    font-size: 20px;
}

.btn-small{
    font-size: 16px;
}